############################
# .NET / Visual Studio
############################

# Build results
bin/
obj/
out/
[Bb]uild/
[Ll]og/

# Visual Studio files
.vs/
.vscode/
*.user
*.suo

# NuGet
*.nupkg
packages/
*.snupkg

# Temp
*.tmp
*.temp

# Environment / secrets
appsettings.Development.json
appsettings.Local.json
*.env

############################
# React / Node.js
############################

# Node modules
frontend/node_modules/
node_modules/

# Build output
frontend/build/
build/
dist/
.cache/
.next/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
frontend/.env
*.env.local
*.env.development
*.env.production
*.env.test

############################
# OS files
############################

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store

############################
# Others
############################
*.log
*.sqlite
*.db
